.cadastro-container {
    max-width: 400px;
    position: relative;
    left: 38%;
    padding: 20px;
    background-color: #362f2d;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 13%;
  }
  
  h1 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  
  input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
  }
  
  label.remember-me {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #ccc;
    margin-bottom: 15px;
  }
  
  label.remember-me input {
    margin-right: 10px;
  }
  
  button.cadastro-botao {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.cadastro-botao:hover {
    background-color: #0056b3;
  }
  
  a.forgot-password {
    display: block;
    color: #aaa;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 15px;
    transition: 0.3s;
  }

  a.forgot-password:hover {
      text-decoration: underline;
    }
  
  .social-register {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
  }
  
  .social-register.facebook {
    transition: 0.3s;
    color: #3b5998;
  }

  .social-register.facebook:hover{
    color: white;
  }
  
  .social-register.google {
    transition: 0.3s;
    color: #db4a39;
  }

  .social-register.google:hover{
    color: white;
    background-color: #db4a39;
  }

  .remember-me{
    white-space: nowrap;
    position: relative;
    left: -20%;
    top: -5px;
  }
  
  @media screen and (max-width: 480px) {
    .cadastro-container {
      max-width: 100%;
    }
  }
  
  .euphoria {
    height: 800px;
  }
