.host{
    position: relative;
    left: 299px;
    top: -20px;
    z-index: -1;
}

.host1{
    position: relative;
    right: 919px;
    top: 600px;
}

.host2{
    position: relative;
    left: 110px;
    top: 570px;
}

.host3{
    position: relative;
    right: 500px;
    top: 820px;
}

.host4{
    position: relative;
    right: 1120px;
    top: 1000px;
}

.host5{
    position: relative;
    left: 1000px;
    top: 10px;
}

.host6{
    position: relative;
    left: 410px;
    top: 260px;
}

.host7{
    position: relative;
    right: 190px;
    top: 512px;
}

.host8{
    position: relative;
    left: 460px;
    top: 490px;
}