.leandro3{
    position: relative;
    bottom: 200px;
}

.host{
    position: relative;
    left: 299px;
    top: -20px;
    z-index: -1;
}

.host1{
    position: relative;
    right: 919px;
    top: 500px;
}

.host2{
    position: relative;
    left: 110px;
    top: 470px;
}

.host3{
    position: relative;
    right: 500px;
    top: 720px;
}

.host4{
    position: relative;
    right: 1120px;
    top: 900px;
}

.host5{
    position: relative;
    left: 1000px;
    bottom: 90px;
}

.host6{
    position: relative;
    left: 410px;
    top: 160px;
}

.host7{
    position: relative;
    right: 190px;
    top: 412px;
}

.host8{
    position: relative;
    left: 460px;
    top: 390px;
}

.samuel{
    height: 1800px;
}